<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'meta.html' %}
  <!-- css -->
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/js/rateit/rateit.css" />
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <title>Get dvd movies</title>  

    <!-- js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-tooltip.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-popover.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-alert.js"></script>


  <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/js/alert_header.js"></script>

  <script type="text/javascript" src="/static/js/rateit/jquery.rateit.min.js"></script>

</head>

<body>

  {% include 'header.html' %}

  <div id="wrap">
    <div id="main" class="container clear-top">
    {% include 'head_alert.html' %}

    {% block content %}
    {% endblock %}
    
    </div>
    {% include 'footer.html' %}
  </div>  

  

  {% include 'ga.html' %}

</body>

</html>

