<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="keywords" content="download movies, download divx movies, free movie downloads, download dvd movies, divx movies,download divx, download divx software, download movie trailers, download full movies,full movies, dvd movies, divx films, movies, dvd, blueray, bittorrent, free, magnet, release, movie, download, film">
    <meta name="description" content="Get free movies the easy way.">
    <meta http-equiv="Content-Type" content="utf-8">
    <meta name="robots" content="all">