<meta name="title" content="Get dvd movies">
    <meta name="DC.Title" content="Get dvd movies">
    <meta http-equiv="title" content="Get dvd movies">
    <meta name="DC.Creator" content="www.altas-buscadores.com">
    <meta name="keywords" content="movies, dvd, blueray, movie, bittorrent, free, magnet, release, movie, download, film">
    <meta http-equiv="keywords" content"movies, dvd, blueray, movie, bittorrent, free, magnet, release, movie, download, film">
    <meta name="description" content="Get free movies the easy way.">
    <meta http-equiv="description" content="Get free movies the easy way.">
    <meta http-equiv="DC.Description" content="Get free movies the easy way.">
    <meta name="author" content="@sh4ka">
    <meta name="DC.Creator" content="@sh4ka">
    <meta name="vw96.objectype" content="Document">
    <meta name="resource-type" content="Document">
    <meta http-equiv="Content-Type" content="ISO-8859-1">
    <meta name="distribution" content="all">
    <meta name="robots" content="all">
    <meta name="revisit" content="365 days">