<meta name="title" content="Get dvd movies">
    <meta name="DC.Title" content="Get dvd movies">
    <meta http-equiv="title" content="Get dvd movies">
    <meta name="keywords" content="download movies,download divx movies, free movie downloads, download dvd movies,divx movies,download divx,download divx software,download movie trailers,download full movies,full movies,dvd movies,divx films, movies, dvd, blueray, movie, bittorrent, free, magnet, release, movie, download, film">
    <meta http-equiv="keywords" content"movies, dvd, blueray, movie, bittorrent, free, magnet, release, movie, download, film">
    <meta name="description" content="Get free movies the easy way.">
    <meta http-equiv="description" content="Get free movies the easy way.">
    <meta http-equiv="DC.Description" content="Get free movies the easy way.">
    <meta name="author" content="@sh4ka">
    <meta name="DC.Creator" content="@sh4ka">
    <meta name="vw96.objectype" content="Document">
    <meta name="resource-type" content="Document">
    <meta http-equiv="Content-Type" content="ISO-8859-1">
    <meta name="distribution" content="all">
    <meta name="robots" content="all">
    <meta name="revisit" content="365 days">