{% extends "base.html" %}

{% block content %}

{% if movie['movies'] %}

<div class="row well">
	<div class="span12">
		<h1><a id="movie-title" href="{{movie['movies'][0]['links']['alternate']}}" target="_blank">{{ movie['movies'][0]['title'] }}</a></h1>
		<br />
		<ul class="thumbnails">
		  <li class="span3">
		    <a href="{{movie['movies'][0]['links']['alternate']}}" class="thumbnail" target="_blank">
		      <img src="{{movie['movies'][0]['posters']['detailed']}}"></img>
		    </a>
		  </li>
		</ul>
		<div class="span8">
			<p class="magnet-links">Magnet Links</p>
		    <ul class="unstyled" id="magnet-links-list">
		    </ul>
		</div>
	</div>
</div>	

<script type="text/javascript" src="/static/js/movies.js"></script>

{% endif %}

{% endblock %}