<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'meta.html' %}
  <!-- css -->
  <link type="text/css" rel="stylesheet" href="/../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/js/rateit/rateit.css" />

    <title>Get dvd movies</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
  {% include 'header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

</div>

  <!-- js -->
  <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../../bower_components/bootstrap/js/modal.js"></script>


  <script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="../../static/js/alert_header.js"></script>

  <script type="text/javascript" src="../../static/js/rateit/jquery.rateit.min.js"></script>
  {% block javascripts %}{% endblock %}

  {% include 'ga.html' %}

</body>

</html>
