<footer class="footer" style="background-color:#c2c2c2;">
    <div class="container" style="margin:0 auto;">
        <div class="row">            
            <div class="span1">
                <a href="http://www.twitter.com/@getdvdrip" target="_blank">@getdvdrip</a>
            </div>
            <div class="span1">
                <a href="http://www.w3.org/QA/Tools/Donate"><img src="http://www.w3.org/QA/Tools/I_heart_validator" 
                  width="80" height="15"
                  alt="I ♥ Validator" title="W3C Validator Donation Program" /></a>
            </div>
            <div class="span1">
                <a href="http://www.python.org/"><img src="/static/img/python.png" width="80" height="15"
                  alt="I ♥ Python" title="Python powered" /></a>
            </div>
            <div class="span1">
                <a href="http://appengine.google.com"><img src="/static/img/appengine.jpg" width="80" height="15"
                  alt="I ♥ App Engine" title="App engine driven" /></a>
            </div>
        </div>
    </div>
</footer>
