{% extends "base.html" %}
{% block content %}
<div class="row main-content">
  {% for release in releases['movies'] %}
  {% if release['poster'] %}
  	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 release-container" data-id="{{release['id']}}">
	    <a href="#" class="release-magnet" data-synopsis="{{release['synopsis']}}" data-title="{{release['title']}}" data-crating="{{release['ratings']['critics_score']}}" data-arating="{{release['ratings']['audience_score']}}">
            <img src="{{release['poster']}}" alt="{{release['title']}}" class="image-responsive" />
            </a>
        <p class="release-header" ><a href="" class="movie-permalink">{{release['title']}}</a></p>
	  </div>
      {% endif %}
  {% endfor %}
  </div>
  {% include 'modal_release.html' %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="/static/js/front.js"></script>
{% endblock %}
